@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.nav-container {
  background: #6700ee;
  a {
    color: white;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    .logo {
      color: #00f7ff;
      font-weight: bold;
    }
    ul {
      display: flex;
      a {
        display: block;
        padding: 0 1em;
      }
    }
  }
}
.social-header,
.design1,
.illustration2 {
  display: none;
}
.main-container {
  background: #6e00ff;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
  .meet {
    font-weight: bold;
    color: #ff64cb;
  }
}
section,
footer {
  padding: 4em 2em;
  text-align: center;
}
.featured {
  position: relative;
}
.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}
.subtitle {
  text-transform: uppercase;
  font-weight: bolder;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}
.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}
.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}
.skills {
  background: #ff64cb;
}
.skills-container ul .skill-set {
  padding: 2em 0;
  border-radius: 1em;
  width: 80%;
  margin: 0 auto 1em auto;
  background: white;
  .heading-container {
    font-weight: bold;
  }
}
.projects {
  background: #f7f7f7;
}
.project-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}
.about {
  background: #ba87ff;
}

.about-me {
  padding: 1em;
  background: rgba(255, 255, 255, 0.418);
  border-radius: 1em;
  img {
    border-radius: 1em;
    width: 250px;
    height: 250px;
  }
  .heading {
    margin: 0;
  }
}
footer {
  background: #6e00ff;
}
footer .heading {
  color: #00f7ff;
  font-weight: bold;
}
footer .heading .hire-me {
  color: #ff64cb;
}
footer .details {
  color: whitesmoke;
  p {
    margin: 0;
  }
}
@media only screen and (min-width: 700px) {
  .featured,
  .project-container {
    text-align: left;
    display: grid;
    grid-template-columns: 45% auto;
  }
  .featured .left,
  .project-left {
    display: grid;
    place-content: center;
  }
  .featured .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container .skills-card {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .projects {
    padding-top: 7em;
  }
  .project-container img {
    margin-left: 2em;
  }
  .about-me {
    display: grid;
    grid-template-columns: auto 70%;
    img {
      width: 250px;
      height: 250px;
    }
    .content {
      margin-left: 2em;
      text-align: left;
    }
  }
}
